@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body {
  display: flex;
  flex-direction: column;
}

h1 {
  align-self: center;
  color: black;
  font-family: "Mooli", sans-serif;
}

#bookList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.book {
  background-color: white;
  width: 25vh;
  height: 25vh;
  border-style: solid;
  border-color: grey;
  border-width: 8px;
  color: black;
  font-family: "Mooli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  font-size: 20px;
}

button,
#submitButton {
  color: black;
  font-family: "Mooli", sans-serif;
  background-color: white;
  font-size: 20px;
}

.progress {
  background-color: orange;
  font-size: 18px;
}

.notStarted {
  background-color: white;
  color: black;
  font-size: 18px;
}

.completed {
  background-color: green;
  font-size: 18px;
}

#removeButton {
  font-size: 17px;
}
#removeButton:hover {
  background-color: red;
}

#newBook {
  width: fit-content;
  align-self: center;
  margin: 20px;
}

#form {
  color: black;
  font-family: "Mooli", sans-serif;
  font-size: 18px;
}

#formButtons {
  margin: 5px;
  display: flex;
  gap: 40px;
}

input {
  font-size: 18px;
}
